# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Virtual environments
env/
venv/
.venv/
ENV/
.env.bak/
.envrc

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask / instance folders
instance/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PyBuilder
.pybuilder/
target/

# VS Code / IDE settings
.vscode/
.idea/
*.swp

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# Spark artifacts
spark-warehouse/
.sparkStaging/

# Local databases
*.sqlite3

# Kafka / temp data
tmp/

